.columnList {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.rowList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    width: 100%;
    gap: 12px;
    box-sizing: border-box;
}

.banner {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.item {
    width: 100%;
    height: 80px;
}


.banner, .square, .first, .second
{
    background: linear-gradient(-90deg, #f0f0f0 0%, #f8f8f8 50%, #f0f0f0 100%);
    background-size: 400%, 400%;
    animation: pulse 1.2s, ease-in-out, infinite;
}
.item{
    display: flex;
}
.square {
width: 10%;
height: 100%;
}

.wrapper{
    padding-left: 20px;
    padding-top: 5px;
    width: 90%;
}

.first{
    width: 85%;
    margin-bottom: 10px;
    height: 30px;
}

.second{
    width: 25%;
    height: 30px;
}

@keyframes pulse {
    0%{
        background-position: 0% 0%;
    }

    100%{
        background-position: -135% 0%;
    }
}